/* div {
    border: 1px dotted red;
} */

h1 {
    font-family: 'Roboto', sans-serif;
}

#logo-data {
    color: #F66;
    font-style: italic;
}

#logo-dash {
    color: #B22;
    font-style: italic;
}

.filter {
    display: flex;
    align-items: center;
}

.filter p {
    margin-right: 10px;
}

#pies {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media only screen and (max-width: 800px) {
    #pies {
        flex-direction: column;
    }
}

#row, #line {
    display: flex;
    justify-content: center;
}

.help, i {
    display: flex;
    flex-direction: row;
}

i {
    margin-right: 10px;
    color: #B55;
}

#toggle-help {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5%;
}

#toggle-help:hover {
    color: #C55;
}

.default {
    text-decoration: none;
    color: #F55;
    margin-left: 5%;
}
