/* div {
    border: 1px dotted red;
} */


.filter {
    display: flex;
    align-items: center;
}

.filter p {
    margin-right: 10px;
}

#pies {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#row {
    display: flex;
    justify-content: center;
}

.help, i {
    display: flex;
    flex-direction: row;
}

i {
    margin-right: 10px;
}

#toggle-help {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5%;
}