/*
    Root element styles
*/

header {
    text-align: center;
    margin-bottom: 40px;
}

h1 {
    font-size: 80px;
    font-weight: 100;
    font-family: 'Roboto Mono', monospace;
}

nav {
    background: #AAF;
    padding: 10px 0;
    border-top: 2px solid #55F;
}

a {
    font-size: 70px;
    text-decoration: none;
    color: white;
    margin: 0 10%;
    text-shadow: black 0px 4px 4px;
}

a:hover {
    color: #EEE;
}

/*
    Classes
*/

.logo-data {
    color: #F44;
}

.logo-dash {
    color: #44F;    
}

/* 
    Graph styles 
*/



@media only screen and (min-width: 400px) {
    .dc-chart g.row text {
        text-shadow: black 1px 1px 1px;
        font-size: 30px;
    }
    
    .dc-chart text.pie-slice {
        text-shadow: black 1px 1px 1px;
        font-size: 30px;
    }
    
    .outer-graph {
        margin: 40px 0;
    }
}

