<!doctype html>
<html>
    <head>
        <title>WCGoals DataDash</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.4/dc.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='css/style.css')}}">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
            integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
            crossorigin="anonymous">
    </head>
    <body>
        <header>
            <h1>WCGoals <span id="logo-data">Data</span><span id="logo-dash">Dash</span></h1>
        </header>
        <!-- These scripts need to load before the local scripts whithin block main -->
        <script src='https://cdnjs.cloudflare.com/ajax/libs/queue-async/1.0.7/queue.js'></script>
        <script src='https://d3js.org/d3.v3.js'></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.12/crossfilter.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.4/dc.js"></script>
        <script src="{{ url_for ('static', filename='js/goals.js')}}"></script>
        <main>
            {% block main %}
            {% endblock %}
        </main>
        <footer>
            <p>
                This data dashboard uses
                <a href="https://d3js.org/">D3.js</a> and
                <a href="https://dc-js.github.io/dc.js/">DC.js</a> to render the charts and
                <a href"http://square.github.io/crossfilter/">Crossfilter to filter the data.</a>
            </p>
            <p>
                It is served with <a href="https://www.python.org/">Python</a> using the
                <a href="http://flask.pocoo.org/">Flask</a> web frame-work.
                It uses <a href="https://www.postgresql.org/">PostgreSQL</a> to store the data and
                has been deployed with <a href="https://dashboard.heroku.com/">Heroku</a>.
            </p>
            <p>
                I followed Sahil Diwan's blog post
                <a href="http://blog.sahildiwan.com/posts/flask-and-postgresql-app-deployed-on-heroku/">
                    Making a Flask app using a PostgreSQL database and deploying to Heroku
                </a>
                for my app structure, for help setting up my database and to aid in deploying to Heroku.
            </p>
            <p>
                The repository for this project can be found <a href="https://github.com/danieldeiana/wcdatadash">here</a>.
            </p>
        </footer>
    </body>
</html>