{% extends 'base.html' %}
{% block main %}
    <div id="toggle-help" onclick="toggleHelp()"><i class="fas fa-question-circle"></i><p class="help">Click to hide help</p></div>
    <p class="help"><i class="far fa-lightbulb"></i>This is a data-dashboard for goals scored in the 2018 World Cup finals.
        You can explore how the goals were scored and when they were scored using the tools below.</p>
    <p class="help"><i class="far fa-lightbulb"></i>
        You can optionally filter the goals by country and or by the goalscorer himself (all goals selected by default)</p>
    <div id="filters">
        <div class="filter">
            <p>Filter by country</p>
            <div id="select-country"></div>
        </div>
        <div class="filter">
            <p>Filter by continent</p>
            <div id="select-continent"></div>
        </div>
        <div class="filter">
            <p>Filter by goalscorer</p>
            <div id="select-goalscorer"></div>
        </div>
        <a href="javascript:dc.filterAll(); dc.redrawAll();" class="default">Reset filters</a>
    </div>
    <div id="charts">
        <p class="help"><i class="far fa-lightbulb"></i>View how the percentage of goals were scored by method, phase and round
        by the pie-charts below. Click on a slice to filter further.</p>
        <div id="pies">
            <div>
                <p>Goals by method:</p>
                <div id="total-goals-by-method-pie-chart"></div>
            </div>
            <div>
                <p>Goals by phase:</p>
                <div id="total-goals-by-phase-pie-chart"></div>
            </div>
            <div>
                <p>Goals by round:</p>
                <div id="total-goals-by-round-pie-chart"></div>
            </div>
        </div>
        <p class="help"><i class="far fa-lightbulb"></i>At a glance, you can see by the below row-chart the period of time the selected
        goals were scored in 10 minute intervals.(read only)</p>
        <div id="row">
            <div id="goals-per-minute-row-chart"></div>
        </div>
        <p class="help"><i class="far fa-lightbulb"></i>And finally, the below line chart allows the filtering of goals between a range
        of minutes. Simply drag from the first to last minute to create your filter. Click the chart outside the filtered
        area to clear.</p>
        <div id="line">
            <div id="goals-per-minute-line-chart"></div>
        </div>
        <a href="javascript:dc.filterAll(); dc.redrawAll();" class="default">Reset filters</a>
    </div>
{% endblock %}