{% extends 'base.html' %}
{% block main %}
    <div>
        <div class="outer-graph">
            <div class="inner-graph">
                <div id="goalscorers-row-chart"></div>
            </div>
        </div>

        <div class="outer-graph">
            <div class="inner-graph">
                <div id="total-goals-by-method-pie-chart"></div>
            </div>
        </div>

        <div class="outer-graph">
            <div class="inner-graph">
                <div id="total-goals-by-phase-pie-chart"></div>
            </div>
        </div>

        <div class="outer-graph">
            <div class="inner-graph">
                <div id="total-goals-by-country-pie-chart"></div>
            </div>
        </div>

        <div class="outer-graph">
            <div class="inner-graph">
                <div id="total-goals-by-continent-pie-chart"></div>
            </div>
        </div>

        <div class="outer-graph">
            <div class="inner-graph">
                <div id="total-goals-by-round-pie-chart"></div>
            </div>
        </div>

        <div class="outer-graph">
            <div class="inner-graph">
                <div id="goals-per-minute-row-chart"></div>
            </div>
        </div>

    </div>
    <script src="{{ url_for ('static', filename='js/goals.js')}}"></script>
{% endblock %}